# build files
/build/Debug/obj/
*.ilk
*.pdb

# gitignore files
.gitignore

# Makefile
Makefile

# vim swap files
*~

# XTP files
/src/loader/Styles/*
!/src/loader/Styles/README
/build/Debug/Translations/*
!/build/Debug/Translations/README
/build/Debug/ToolkitPro1531vc100D.dll
/lib/ToolkitPro1531vc110D.lib
/include/XTP/*
!/include/XTP/README

# x3py files
!/build/Debug/plugins/x3manager.pln

# ms project files
*.sdf
*.user
*.opensdf
*.suo


