# build files
/build/Debug/obj/
*.ilk
*.pdb


# gitignore files
.gitignore

# Makefile
Makefile

# vim swap files
*~

# XTP files
/build/Debug/styles/*
!/build/Debug/styles/README
/build/Debug/Translations/*
!/build/Debug/Translations/README
/build/Debug/plugins/ToolkitPro1531vc100D.dll
/lib/ToolkitPro1531vc110D.lib
/include/XTP/*
!/include/XTP/README

# x3py files
!/build/Debug/plugins/x3manager.pln

# ms project files
*.sdf
*.user
*.opensdf

# Tool files
/projects/msvc/
/tools/
/src/example/pltempl/
/src/public/


